/* Inserta tu codigo aqui */
a{text-decoration: none;}
li{list-style: none;
	display: inline-block;}
.menu{
	padding-top: 50px;
	padding-bottom:;
}
.menu li{
	padding-right: 0px;
	padding-left: 0px;
	border-right:2px solid #4D4D4D;
}
.menu a {
	color: #4D4D4D;
	/*padding:10px 15px;*/
	font-size: 20px;
	margin: 20px; }
.menu li:last-child{
	border-right:none;}
.menu a:hover{
	background: #00CC33;
	font-size: 30px;
}